
body {
  margin 0px auto;
  font-family: 'Open Sans', sans-serif;
  background-color: #f9f9f9;
}

#jumbotron {
  background-image: url("/assets/landscape.jpeg");
  background-repeat: no-repeat;
  background-position: 0% 44%;
  background-size: cover;
  height: 500px;
}

#jumbotron h1 {
  padding-top: 250px;
  font-size: 36px;
  margin-bottom: 20px;
}

#jumbotron h1, #jumbotron p, #jumbotron h2 {
  color: white;
  padding-left: 20px;
}

#nav-list li, p{
  display: inline;
}

#nav-list {
  background-color: lightgrey;
  padding: 15px 0px 15px 25px;
  border-radius: 1px;
}

#nav-list li a {
  text-decoration: none;
}

section header h1, section header h2, section header, p {
  text-align: center;
}

section header h2 {
  margin-bottom: 10px;
}


/* Columns for education section */

.column-panel {
  margin: 70 auto;
  width: 100%;
  display: flex;
}

.column-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: -55px;
  margin-left: 33%;
  background-repeat: no-repeat;
  background-position: 50% 60%;
}

/* Styles and photos for circles */

#circle-1 {
  background-image: url('/assets/diploma.png');
  background-size: 75px 75px;
  background-color: #4A8EB2;
}

#circle-2 {
  background-image: url('/assets/freecodecamp.png');
  background-size: 60px 60px;
  border-radius: 50%;
  background-color: #006400;
}

#circle-3 {
  background-image: url('/assets/money.png');
  background-size: 60px 60px;
  background-color: maroon;
}

#circle-4 {
  background-image: url('/assets/money.png');
  background-size: 60px 60px;
  background-color: maroon;
}

/* Borders for education panels */

#education-section header {
  margin-bottom: 75px;
}

.border-1 {
  border-top: 6px solid #4A8EB2;
  border-bottom: 6px solid #4A8EB2;
}

.border-2 {
  border-top: 6px solid #006400;
  border-bottom: 6px solid #006400;
}

.border-3 {
  border-top: 6px solid maroon;
  border-bottom: 6px solid maroon;
}

.border-4 {
  border-top: 6px solid black;
  border-bottom: 6px solid black;
}

/* Sizings for panels */

.column-content {
  float: left;
  text-align: center;
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 40px;
}

.column-content ul {
  padding: 0px 0px 0px 0px;
  list-style: none;
}

.column-content p {
  text-align: left;
}

.row {
  margin-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

/* Education Section touch-ups */

.school-content, .coursework-content {
  min-width: 300px;
  width: 33%;
}

.coursework-content ul li {
  margin-top: 25px;
}

.coursework-content a {
  color: blue;
  text-decoration: none;
}

/* Skills Section CSS */

.skills-content {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 25px;
}

.skill-circle h2 {
  margin-top: -45px;
}

.skill-circle {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 100px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 65px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

#skill-circle-html5 {
  background-image: url('/assets/skills-icons/html5.png');
  border-radius: 50%;
  background-size: 75px 75px;
  background-color: #57231A;
  margin-top: -55px;
  background-position: 50% 60%;
  background-repeat: no-repeat;
}

#skill-circle-css3 {
  background-image: url('/assets/skills-icons/css3.png');
  border-radius: 50%;
  background-size: 75px 75px;
  background-color: #325EA3;
  margin-top: -55px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#skill-circle-javascript {
  background-image: url('/assets/skills-icons/javascript.png');
  border-radius: 50%;
  background-size: 115px;
  background-color: #635A1E;
  margin-top: -55px;
  background-position: 35% 45%;
  background-repeat: no-repeat;
}

#skill-circle-jquery {
  background-image: url('/assets/skills-icons/jquery.png');
  border-radius: 50%;
  background-size: 75px 75px;
  background-color: #49537F;
  margin-top: -55px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#skill-circle-react {
  background-image: url('/assets/skills-icons/react.png');
  border-radius: 50%;
  background-size: 65px 65px;
  background-color: #355685;
  margin-top: -55px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#skill-circle-d3 {
  background-image: url('/assets/skills-icons/d3.png');
  border-radius: 50%;
  background-size: 55px 55px;
  background-color: #0D2A7F;
  margin-top: -40px;
  background-position: 55% 50%;
  background-repeat: no-repeat;
}

/* Activities CSS */

#activities-section header h2 {
  margin-bottom: 75px;
}

.activities-content {
  height: 300px;
  margin-bottom: 50px;
  min-width: 300px;
  width: 50%;
}
