body {
  font-family: 'Open Sans', sans-serif;
  background-color: #222;
  color: white;
}

h1::first-letter {
  text-transform: uppercase;
}

p {
  display: inline;
  font-weight: 300;
}

/* Section exlusive styles */

#education-section, #skills-section, #activities-section, #videos-section, #images-section, #contact-section, #about-section {
  margin: 30px auto;
  max-width: 1100px;
  height: 100%;
  min-height: 300px;
}

h1, h2, h3 {
  color: #008FFF;
  font-weight: 300;
}

/* jumbotron */

#jumbotron {
  background-image: url("./assets/landscape.jpeg");
  background-repeat: no-repeat;
  background-position: 0% 44%;
  background-size: cover;
  height: 500px;
}

#jumbotron h1 {
  margin-top: 0px;
  padding-top: 250px;
  font-size: 36px;
  margin-bottom: 20px;
}

#jumbotron h1, #jumbotron p, #jumbotron h2 {
  color: white;
  padding-left: 20px;
}

/* Navbar */

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

nav li {
  float: left;
  display: inline;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

nav {
  overflow: hidden;
  width: 100%;
  background-color: #110000;
  height: 100%;
  min-height: 50px;
  border: 1px #333 solid;
}

nav li p {
  margin: 0px;
  display: block;
  padding: 16px;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 16px;
}

nav li a:hover {
    background-color: #333;
}

/*Section Headers */

section header h1, section header h2, section header, p {
  text-align: center;
}

section header h2 {
  margin-bottom: 10px;
}

/* Custom Columns */

.column-panel {
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
}

.column-circle {
  width: 100px;
  height: 100px;
  margin: 0px auto;
  border-radius: 50%;
  margin-top: -55px;
  margin-left: 33%;
  background-repeat: no-repeat;
  background-position: 50% 60%;
}

/* Styles and photos for circles on home page*/

#circle-1 {
  background-image: url('./assets/diploma.png');
  background-size: 75px 75px;
  background-color: #008FFF;
}

#circle-2 {
  background-image: url('./assets/freecodecamp.png');
  background-size: 60px 60px;
  background-color: #006400;
}

#circle-3 {
  background-image: url('./assets/skills.png');
  background-size: 60px 60px;
  background-color: #008FFF;
}

/* Borders for panels */


.border-1 {
  border: 6px solid #008FFF;
}

.border-2 {
  border: 6px solid #006400;
}

.border-3 {
  border: 6px solid black;
}

/* Sizings for panels, rows and content */

.column-content {
  float: left;
  text-align: center;
  background-color: #110000;
  margin-left: 15px;
  margin-right: 15px;
}

.column-content ul {
  padding: 0px 0px 0px 0px;
  list-style: none;
}

.column-content p {
  text-align: left;
}

.row {
  margin-top: 20px;
}

/* Education Section touch-ups */

.school-content, .coursework-content {
  padding: 0px 20px 0px 20px;
  height: 100%;
  min-height: 450px;
  max-height: 500px;
  width: 25%;
  min-width: 300px;
  margin: 50px auto;
  margin-bottom: 20px;
}

.coursework-content ul li {
  margin-top: 25px;
}

.coursework-content a {
  color: blue;
  text-decoration: none;
}

/* Skills Section */

#skills-section {
  margin-top: -40px;
}

.skills-content {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 25px;
}

.skill-circle h2 {
  margin-top: -45px;
}

.skill-circle {
  background-repeat: no-repeat;
  border: 1px solid white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 100px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 65px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

/* Skills Panel Circles */

#skill-circle-html5 {
  background-image: url('./assets/skills-icons/html5.png');
  background-size: 75px 75px;
  background-color: #57231A;
  margin-top: -55px;
  background-position: 50% 60%;
}

#skill-circle-css3 {
  background-image: url('./assets/skills-icons/css3.png');
  background-size: 75px 75px;
  background-color: #325EA3;
  margin-top: -55px;
  background-position: 50% 50%;
}

#skill-circle-javascript {
  background-image: url('./assets/skills-icons/javascript.png');
  background-size: 115px;
  background-color: #635A1E;
  margin-top: -55px;
  background-position: 35% 45%;
  background-repeat: no-repeat;
}

#skill-circle-jquery {
  background-image: url('./assets/skills-icons/jquery.png');
  background-size: 75px 75px;
  background-color: #49537F;
  margin-top: -55px;
  background-position: 50% 50%;
}

#skill-circle-react {
  background-image: url('./assets/skills-icons/react.png');
  background-size: 65px 65px;
  background-color: #355685;
  margin-top: -55px;
  background-position: 50% 50%;
}

#skill-circle-d3 {
  background-image: url('./assets/skills-icons/d3.png');
  background-size: 55px 55px;
  background-color: #0D2A7F;
  margin-top: -40px;
  background-position: 55% 50%;
}

/* Activities CSS */

#activities-section header h2 {
  margin-top: -30px;
  margin-bottom: 20px;
}

.activities-content {
  margin: 0px auto;
  height: 300px;
  margin-bottom: 50px;
  min-width: 400px;
  width: 45%;
}

/* Videos Page */

iframe {
  width: 100%;
}

.video-content {
  margin: 0px auto;
  border: 5px black solid;
  padding-top: 20px;
  min-height: 350px;
  height: 100%;
  width: 45%;
  min-width: 220px;
  background-color: #110000;
}

#video-section h1 {
  text-align: center;
}

/* Images Page */

.column-panel-image {
  margin: 0px 0px;
  display: flex;
  flex-wrap: nowrap;
}

.image-content {
  border: 5px black solid;
  height: 300px;
  background-color: #110000;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-content-1 {
  width: 31%;
}

.image-content-2 {
  width: 66%;
}

p.image-content-1, p.image-content-2 {
  margin: 0px auto;
}

#image-1 {
  background-image: url("./assets/gallery/bubbles.jpeg");
  background-position: 70% 44%;
}

#image-2 {
  background-image: url("./assets/gallery/camera.jpeg");
  background-position: 0% 80%;
}

#image-3 {
  background-image: url("./assets/gallery/corn.jpeg");
  background-position: 30% 44%;
}

#image-4 {
  background-image: url("./assets/gallery/house.jpeg");
  background-position: 0% 44%;
}

#image-5 {
  background-image: url("./assets/gallery/shore.jpeg");
  background-position: 50% 0%;
}

#image-6 {
  background-image: url("./assets/gallery/planes.jpeg");
  background-position: 0% 44%;
}

#image-7 {
  background-image: url("./assets/gallery/ship.jpeg");
  background-position: 0% 44%;
}

/* Contact Page */

.contact-content {
  margin: 20px auto;
  min-width: 400px;
  width: 45%;
  height: 300px;
  border-width: 5px;
  border-color: black;
  border-style: solid;
  background-color: #110000;
}

.contact-list li {
  font-style: italic;
}

#map {
  width: 100%;
  min-width: 300px;
  height: 300px;
}

/* About Me Page */

.about-content {
  padding-top: 20px;
  width: 100%;
  border: 5px black solid;
  min-height: 300px;
  height: 100%;
}

.about-content img {
  display: inline-block;
  height: 150px;
  vertical-align: middle;
  border-radius: 50%;
}
