
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #222;
  color: white;
}

/* Section exlusive styles */

#education-section, #skills-section, #activities-section, #videos-section, #images-section {
  margin: 70px 70px;
}

h1, h2, h3 {
  color: #008FFF;
}

/* jumbotron */

#jumbotron {
  background-image: url("/assets/landscape.jpeg");
  background-repeat: no-repeat;
  background-position: 0% 44%;
  background-size: cover;
  height: 500px;
}

#jumbotron h1 {
  padding-top: 250px;
  font-size: 36px;
  margin-bottom: 20px;
}

#jumbotron h1, #jumbotron p, #jumbotron h2 {
  color: white;
  padding-left: 20px;
}

/* Navbar */

#nav-list li, p{
  display: inline;
}

#nav-list {
  background-color: #110000;
  padding: 15px 0px 15px 25px;
  border-radius: 1px;
}

#nav-list li a {
  text-decoration: none;
}

section header h1, section header h2, section header, p {
  text-align: center;
}

section header h2 {
  margin-bottom: 10px;
}

/* Custom Columns */

.column-panel {
  margin: 40px auto;
  display: flex;
}

.column-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: -55px;
  margin-left: 33%;
  background-repeat: no-repeat;
  background-position: 50% 60%;
}

/* Styles and photos for circles on home page*/

#circle-1 {
  background-image: url('/assets/diploma.png');
  background-size: 75px 75px;
  background-color: #4A8EB2;
}

#circle-2 {
  background-image: url('/assets/freecodecamp.png');
  background-size: 60px 60px;
  background-color: #006400;
}

#circle-3 {
  background-image: url('/assets/money.png');
  background-size: 60px 60px;
  background-color: #008FFF;
}

/* Borders for panels */

#education-section header {
  margin-bottom: 75px;
}

.border-1 {
  border: 6px solid #008FFF;
}

.border-2 {
  border: 6px solid #006400;
}

.border-3 {
  border: 6px solid black;
}
/* Sizings for panels, rows and content */

.column-content {
  float: left;
  text-align: center;
  background-color: #110000;
  margin-left: 15px;
  margin-right: 15px;
}

.column-content ul {
  padding: 0px 0px 0px 0px;
  list-style: none;
}

.column-content p {
  text-align: left;
}

.row {
  margin-top: 20px;
  /*padding-left: 10%;
  padding-right: 10%;*/
}

/* Education Section touch-ups */

.school-content, .coursework-content {
  padding: 0px 20px 0px 20px;
  min-width: 300px;
  width: 33%;
  margin-bottom: 40px;
}

.coursework-content ul li {
  margin-top: 25px;
}

.coursework-content a {
  color: blue;
  text-decoration: none;
}

/* Skills Section */

.skills-content {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 25px;
  margin-bottom: 40px;
}

.skill-circle h2 {
  margin-top: -45px;
}

.skill-circle {
  background-repeat: no-repeat;
  border: 1px solid white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 100px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 65px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

/* Skills Panel Circles */

#skill-circle-html5 {
  background-image: url('/assets/skills-icons/html5.png');
  background-size: 75px 75px;
  background-color: #57231A;
  margin-top: -55px;
  background-position: 50% 60%;
}

#skill-circle-css3 {
  background-image: url('/assets/skills-icons/css3.png');
  background-size: 75px 75px;
  background-color: #325EA3;
  margin-top: -55px;
  background-position: 50% 50%;
}

#skill-circle-javascript {
  background-image: url('/assets/skills-icons/javascript.png');
  background-size: 115px;
  background-color: #635A1E;
  margin-top: -55px;
  background-position: 35% 45%;
  background-repeat: no-repeat;
}

#skill-circle-jquery {
  background-image: url('/assets/skills-icons/jquery.png');
  background-size: 75px 75px;
  background-color: #49537F;
  margin-top: -55px;
  background-position: 50% 50%;
}

#skill-circle-react {
  background-image: url('/assets/skills-icons/react.png');
  background-size: 65px 65px;
  background-color: #355685;
  margin-top: -55px;
  background-position: 50% 50%;
}

#skill-circle-d3 {
  background-image: url('/assets/skills-icons/d3.png');
  background-size: 55px 55px;
  background-color: #0D2A7F;
  margin-top: -40px;
  background-position: 55% 50%;
}

/* Activities CSS */

#activities-section header h2 {
  margin-bottom: 75px;
}

.activities-content {
  height: 300px;
  margin-bottom: 50px;
  min-width: 300px;
  width: 50%;
}

/* Videos Page */

.video-content {
  border: 5px black solid;
  padding-top: 20px;
  height: 400px;
  width: 650px;
  background-color: #110000;
}

#video-section h1 {
  text-align: center;
}

/* Images Page */

.image-content {
  border: 5px black solid;
  padding-top: 20px;
  height: 300px;
  background-color: #110000;
}

.image-content div {
  background-repeat: no-repeat;
  width: 200px;
  height: 100%;
  background-position: 40% 40%;
  display: inline-block;
  background-image: url('/assets/gallery/parrot.jpeg');
  background-size: cover;
}

.image-content-1 {
  width: 31%;
  display:inline-block;
}

.image-content-2 {
  width: 66%;
}
